{% extends "scene.html" %}

{% block head %}
  {{ super() }}

  <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='color_style.css')}}">
  <script type="module" src="{{url_for('static', filename='color.js')}}" defer></script>

{% endblock %}


{% block content %}
  <div id="main_container" style="width:{{width}}px; height:{{height}}px;">
    <!-- <canvas id="sunlight_canvas" class="main_canvas" width="{{width}}" height="{{height}}"></canvas> -->
  </div>

  <div id="controls_container">
    <div id="onoff_switch">
      <div class="switch_outer button">
        <div class="switch_inner"></div>
      </div>
    </div>
    <div id="color_picker_container">
        <div id="cp_color_editor_container">
            <div id="cp_colors_canvas_container" class="button">
                <canvas id="cp_colors_canvas" width="650" height="250"></canvas>
                <div id="cp_colors_indicator"></div>
            </div>
            <div id="cp_brightness_canvas_container" class="button">
                <canvas id="cp_brightness_canvas" width="50" height="250"></canvas>
                <div id="cp_brightness_indicator"></div>
            </div>
        </div>
        <div id="cp_form" class="controls">
            <div id="cp_hex_input">
                <div class="input_label">#</div>
                <input type="text" class="button" />
            </div>
            <div id="cp_brt_input">
                <input type="text" class="button" />
                <div class="input_label">%</div>
            </div>
            <button id="cp_save_btn" class="button">Save</button>
        </div>    
    </div>
    <!-- <div id="brightness_controls" class="controls">
      <div class="label">bright</div>
      <div class="current">
        <div class="current_setting"></div>
        <div class="units">pct</div>
      </div>
      <div class="button_container">
        <div class="button up"></div>
        <div class="button down"></div>
      </div>
    </div> -->
  </div>

{% endblock %}
