{% extends "scene.html" %}

{% block head %}
  {{ super() }}

  <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='sunlight_style.css')}}">
  <script src="{{url_for('static', filename='sunlight.js')}}"></script>

  <script type="text/javascript">
    width = {{width}};
    height = {{height}};
    warmest = {{warmest}};
    coldest = {{coldest}};
    colors = [];
    {% for row in range(colors|length) %}
      colors.push("{{colors[row]}}");
    {% endfor %}
  </script>
{% endblock %}


{% block content %}
  <div id="canvas_container" style="width:{{width}}px; height:{{height}}px;">
    <canvas id="sunlight_canvas" width="{{width}}" height="{{height}}"></canvas>
    <div id="clock"></div>
  </div>
{% endblock %}
