{% extends "scene.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='thermostat_style.css')}}">
  <script type="module" src="{{url_for('static', filename='thermostat.js')}}" defer></script>

  <script type="text/javascript">
    const width = {{width}};
    const height = {{height}};
    const fontSize = {{fontSize}};
    const graphWidth = {{graphWidth}};//width/height * graphHeight;
    const graphHeight = {{graphHeight}};
  </script>
  <style>
    body {
      --mainfontsize: {{fontSize}}px;
      --graphWidth: {{graphWidth}}px;
      --graphHeight: {{graphHeight}}px;
    }
  </style>
{% endblock %}

{% block content %}
    <div id="canvas_container" style="width:{{width}}px; height:{{height}}px;">
      <canvas id="temp_labels"></canvas>
      <canvas id="graph" class="main_canvas"></canvas>
      <canvas id="hum_labels"></canvas>
      <canvas id="time_labels"></canvas>
      <div id="current_values">
        <div class="indoor">
          <div class="temp mainunits"></div>
          <div class="hum mainunits"></div>
          <div class="temp altunits"></div>
          <div class="hum altunits"></div>
        </div>
        <div class="outdoor">
          <div class="temp">
            <div class="temp"></div>
            <div class="weather_icon"></div>
            <div class="time_since_current"></div>
          </div>
          <div class="hum">
            <div class="weather_icon"></div>
            <div class="hum"></div>
          </div>
        </div>
      </div>
    </div>

    <canvas id="overlay"></canvas>

    <div id="controls_container">
      <div id="onoff_switch">
        <div class="switch_outer button">
          <div class="switch_inner"></div>
        </div>
      </div>

      <div id="device_tabs">
        <div id="tab_max" class="tab button">max</div>
        <div id="tab_min" class="tab button">min</div>
      </div>

      <div id="temp_controls" class="controls left">
        <div class="label">temp</div>
        <div class="current">
          <div class="current_setting"></div>
          <div class="units">deg</div>
        </div>
        <div class="button_container">
          <div class="button up"></div>
          <div class="button down"></div>
        </div>
        <div class="weather_checkbox">
          <input type="checkbox" id="show_weather_temp_value" name="show_weather_temp_value" value="false" class="checkbox button temp value" />
          <input type="checkbox" id="show_weather_temp_graph" name="show_weather_temp_graph" value="false" class="checkbox button temp graph" />
          <label class="weather_icon"></label>
        </div>
      </div>

      <div id="hum_controls" class="controls right">
        <div class="label">humid</div>
        <div class="current">
          <div class="current_setting"></div>
          <div class="units"></div>
        </div>
        <div class="weather_checkbox">
          <label class="weather_icon"></label>
          <input type="checkbox" id="show_weather_hum_value" name="show_weather_hum_value" value="false" class="checkbox button hum value" />
          <input type="checkbox" id="show_weather_hum_graph" name="show_weather_hum_graph" value="false" class="checkbox button hum graph" />
        </div>
        <div class="button_container">
          <div class="button up"></div>
          <div class="button down"></div>
        </div>
      </div>

      <div id="show_weather_controls">
        <input type="checkbox" id="show_weather_graph" name="show_weather_graph" value="false" class="checkbox button" />
          <label for="show_weather_graph">Weather&nbsp;Graph</label>
        <input type="checkbox" id="show_weather_values" name="show_weather_values" value="false" class="checkbox button" />
          <label for="show_weather_values">Weather&nbsp;Values</label>
      </div>
    </div>
{% endblock %}
