<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thermostat Scene</title>

  <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='thermostat_style.css')}}">
  <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='fonts.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

  <script type="text/javascript">
    const width = {{width}};
    const height = {{height}};
    const fontSize = height / 20;
    const graphWidth = width - (6*fontSize);//width/height * graphHeight;
    const graphHeight = height - (3*fontSize);
  </script>

  <script type="module" src="{{url_for('static', filename='therm_controls.mjs')}}" defer></script>
  <script type="module" src="{{url_for('static', filename='thermostat.js')}}" defer></script>
</head>
<body>
  <div id="root" style="width:{{width}}px; height:{{height}}px;">
    <div id="canvas_container" style="width:{{width}}px; height:{{height}}px;">
      <canvas id="temp_labels"></canvas>
      <canvas id="graph"></canvas>
      <canvas id="hum_labels"></canvas>
      <canvas id="time_labels"></canvas>
    </div>
    <canvas id="overlay"></canvas>
    <div id="controls_container">
      <div id="temp_controls" class="controls">
        <div class="label">temp</div>
        <div class="current">
          <div class="current_setting"></div>
          <div class="units">deg</div>
        </div>
        <div class="button_container">
          <div class="button up"></div>
          <div class="button down"></div>
        </div>
      </div>
      <div id="hum_controls" class="controls">
        <div class="label">humid</div>
        <div class="current">
          <div class="current_setting"></div>
          <div class="units">pct</div>
        </div>
        <div class="button_container">
          <div class="button up"></div>
          <div class="button down"></div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
