#controls_container {
    --color: rgba(50, 255, 50, 1);
    --color_faded: rgba(50, 255, 50, .5);
    --altcolor: rgba(255, 50, 200, 1);
    --altcolor-faded: rgba(255, 50, 200, .5);

    z-index: 100; /* make sure it's above the nav links (i.e. the link back to the home page, which is at 50) */
    visibility: hidden;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.7);
    font-size: 50px;
    text-align: center;
  
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}
  
#controls_container.show {
    visibility: visible;
}
  
.controls {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* gap: 0.2em; */
}

.btn_values_container {
    display: flex;
    align-items: center;
}

/* #temp_controls {
    --color: rgba(50,255,50,1);
    --color_faded: rgba(50,255,50,.5);
    --opacity_factor: .7;
    --opacity_factor_less: .9;
    width: 50%;
  }
  
  #hum_controls {
    --color: rgba(255,50,200,1);
    --color_faded: rgba(255,50,200,.5);
    --opacity_factor: 1;
    --opacity_factor_less: 1;
    width: 50%;
  } */
      
.button_container {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    row-gap: 0.2em;
    padding-bottom: 0.2em;
}
  
.button {
    --padding: 0.6em;
    
    /* display:inline-block; */
    border-width: 0.15em;
    border-radius: .5em;
    border-color: var(--color);
    border-style: solid;
    padding: var(--padding);
    box-shadow:
      inset 0 0 .5em .05em var(--color_faded),
            0 0 .5em .05em var(--color_faded);
}
  
.button:active {
    background-color: var(--color_faded);
    box-shadow: 0 0 .5em .05em var(--color);
}
  
/* up arrow */
.button.up::after {
    display:block;
    content:'';
    width: 0;
    height: 0;

    /* the arrow graphic is constructed of borders */
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-bottom: 1em solid var(--color);
}
  
/* down arrow */
.button.down::after {
    display:block;
    content:'';
    width: 0;
    height: 0;

    /* the arrow graphic is constructed of borders */
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-top: 1em solid var(--color);
}
  
.current {
    color: var(--color);
    width:2.5em;
}
  
/* #temp_controls .current {
    order:1; /* to appear on the inside/right of the buttons, for symmetry */
/* } */
  
.current_setting {
    font-family: 'OdysseyGrad';
    font-size: 2em;
}
  
.current .units {
    color: var(--color);
    opacity: calc(.9 * var(--opacity_factor));
    font-family: 'AdvancedDot';
    font-size: .8em;
    transform: translateX(.22rem); /* to compensate for font weirdness of AdvancedDot font */
}
  
.controls .label {
    background-color: rgba(0,0,0,.2);
    color: var(--color);
    opacity: .7;/* calc(.7 * var(--opacity_factor_less));*/
    font-family: 'Twobit';
    font-size: 1.5em;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    height: 0px;
    overflow-y: visible;
    display:flex;
    justify-content:center;
    align-items:center;
}
  
#onoff_switch {
    --bg_color_on: var(--altcolor-faded);
    --bg_color_off: transparent;
    --margin-top: .5em;
  
    flex-shrink: 0;
    margin-top: var(--margin-top);
    width: 100%;
    display: flex;
    justify-content: center;
}
  
.switch_outer {
    --height: 1.2em;
    --width: calc(var(--height) * 2.5);
    --padding: .1em;
    --paddingLeft: calc(var(--width) - var(--height) + var(--padding)); /* when switch is on */
    height: var(--height);
    width: var(--width);
    padding: var(--padding);
    border-radius: var(--height);
}
  
.switch_inner {
    opacity: .75;
    height: var(--height);
    width: var(--height);
    background-color: var(--color);
    border-radius: var(--height);
}
  
  /* switching OFF */
#onoff_switch .switch_outer {
    animation-duration: .3s;
    animation-name: switch_off;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
  
  /* switching ON */
#onoff_switch.on .switch_outer {
    /* background-color: rgba(255,50,200,.5); */
    /* padding-left: var(--paddingLeft);
    width: calc(var(--width) - var(--paddingLeft) + var(--padding)); */
  
    animation-duration: .3s;
    animation-name: switch_on;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
  
  
@keyframes switch_on {
    from {
        padding-left: var(--padding);
        width: var(--width);
        background: var(--bg_color_off);
    }
  
    to {
        padding-left: var(--paddingLeft);
        width: calc(var(--width) - var(--paddingLeft) + var(--padding));
        background: var(--bg_color_on);
    }
}
  
@keyframes switch_off {
    to {
        padding-left: var(--padding);
        width: var(--width);
        background: var(--bg_color_off);
    }
  
    from {
        padding-left: var(--paddingLeft);
        width: calc(var(--width) - var(--paddingLeft) + var(--padding));
        background: var(--bg_color_on);
    }
}

#device_tabs {
    display: flex;
    padding: .25em;
}

#device_tabs .tab.button {
    opacity: .6;
    background-color: rgba(0,0,0,.7);
    color: var(--color);
    padding: calc(var(--padding)/2);
    border-width: 0.1em;
    margin-left: 0.1em;
}

#device_tabs .tab.button.selected {
    opacity: 1;
    background-image: linear-gradient(to bottom,var(--color_faded) 0%,transparent 150%);
    mask-image: linear-gradient(to bottom,black 70%,transparent 100%);
    border-bottom-width: 0;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
    text-shadow: 0 0 .2em rgba(0,0,0,.6);
}
  