body {
    margin: 0px;
    cursor: none;
    user-select: none;
    background-color: black;
}

#main_container {
    position: relative;
}

#nav {
    z-index: 999; /* make sure nav is above control panel */
}

/* ------------------- CONTROLS ------------------ */


#controls_container {
    visibility: visible !important;

    --font_size: 60px;
    --maincolor: rgba(92, 178, 255, 1);
    /*rgba(112,156,255,1);*/
    --maincolor_faded: rgba(112, 156, 255, .5);
/*    background-color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 0 1.3em black,
        0 0 .8em black,
        0 0 .5em black;*/
    font-size: var(--font_size);
    background-color: transparent !important;

    /* display: grid;
    grid-template-areas: "current current"
                         "buttons buttons"; */

    display: flex;

    flex-direction: column;
    gap: 0.3em;
    padding: 0.3em;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.button_container {
}

.controls .button {
    font-size: 0.8em;
}

.current {
    grid-area: current;
    font-size: 1.2em;
    width: 4.5em;
}


#onoff_switch {
    display: none;
    --bg_color_on: rgba(248, 137, 36, .5);
    /* rgba(247,104,11,.5);*/
}

.button {
    --color: var(--maincolor);
    /*rgba(112,156,255,1);*/
    --color_faded: var(--maincolor_faded);
}