body {
  margin: 0px;
  cursor: none;
  user-select: none;
}

#canvas_container {
  position:relative;
}

/* #clock { */
#current_val {
  opacity: .5;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  font-family: 'OdysseyHalf';
  font-size: 170px;

  /* background: linear-gradient(180deg, rgba(255,255,255,1) 55%, rgba(255,50,255,1) 80%);
  background-clip: text;
  color: transparent; */


  color: rgba(255,255,255,1);
  text-shadow:
                0px 0px .02em rgba(0,0,0,1),
                0px 0px .03em rgba(0,0,0,1),
                0px 0px .05em rgba(0,70,0,.8),
                0px 0px .1em rgba(150,255,150,1),
                0px 0px .1em rgba(0,0,0,.8),
                0px 0px .5em rgba(0,0,0,1);

  /* color: rgba(0,0,120,.5); */
  /* text-shadow: -.05em .008em .01em rgba(120,210,150,.2),
               .06em -.008em .02em rgba(100,155,100,.2),
               .03em -.005em .01em rgba(200,50,200,.2); */
}

/* 'K' span after the current temp value */
#current_val #K {
  position: relative;
  /* color: rgba(248,137,36,1); */
  color: white;
}

/* to create a gradient over the 'K' (can't do directly because of text-shadows) */
#current_val #K::after {
  content: 'K';
  position: absolute;
  left: 0px;
  top: 0px;
  /* top: -7px; /* on development machine using Firefox, the ::after block is shifted down 7px, but not on the Raspberry Pi using Firefox */
  opacity: .9;
  text-shadow: none;
  background: linear-gradient(to bottom, rgba(248,137,36,1) 50%, rgba(92,178,255,1) 75%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ------------------- CONTROLS ------------------ */


#controls_container {
  --font_size: 40px;
  --maincolor: rgba(92,178,255,1); /*rgba(112,156,255,1);*/
  --maincolor_faded: rgba(112,156,255,.5);
  background-color: rgba(0,0,0,0.8);
  text-shadow:0 0 1.3em black,
              0 0 .8em black,
              0 0 .5em black;
  font-size: var(--font_size);
}

.controls {
  display: grid;
  grid-template-areas: "label     label"
                       "buttons current";

  gap: 0.3em;
  padding: 0.3em;
  justify-items: center;
}

.controls .label {
  grid-area: label;
  justify-self: stretch;
  writing-mode: horizontal-tb;
  height: auto;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  transform:scaleX(1.5);
  background: none;
  opacity: 1;
}

.button_container {
  grid-area: buttons;
}
.controls .button {
  font-size: 0.8em;
}

.current {
  grid-area: current;
  font-size: 1.2em;
  width: 4.5em;
}
.current .units {
  font-size: 0.7em;
  font-family: "WarGames";
  line-height: 1em;
  opacity:0.7;
  /* transform: scaleX(0.8); */
}
.current .units :first-child {
  position: relative;
  z-index:2;
}
.current .units :last-child {
  position: relative;
  z-index:1;
  /* opacity: 0.9; */
}

#onoff_switch {
  --bg_color_on: rgba(248,137,36,.5); /* rgba(247,104,11,.5);*/
}

.button {
  --color: var(--maincolor);/*rgba(112,156,255,1);*/
  --color_faded: var(--maincolor_faded);
}

#ceiling_controls,
#ceiling_controls .button {
  --color: var(--maincolor);
  --color_faded: var(--maincolor_faded);
  --opacity_factor: 1.11;
  --opacity_factor_less: 1;
}
#ceiling_controls {
  width: auto;
}
#ceiling_controls .label {
  /* letter-spacing: -.2em; */
}

