body {
  margin: 0px;
  background-color: black;
  cursor: none;
}

#root {
  /* border: 1px dashed gray; */
}

canvas {
  /* border: 1px dotted cyan; */
}

#canvas_container {
  /* border: 1px solid red; */
  display:grid;
  gap: 0px;
  grid-template-areas: "leftY   graph   rightY"
                       ".       xLabels .     ";
}

#graph {
  grid-area: graph;
}

#temp_labels {
  grid-area: leftY;
}

#hum_labels {
  grid-area: rightY;
}

#time_labels {
  grid-area: xLabels;
}

#overlay {
  position:absolute;
  left:0;
  top:0;
}

#controls_container {
  visibility: hidden;
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  /* background-color: rgba(0,0,0,0.7); */
  background: linear-gradient(180deg, rgba(0,0,0,.5) 1.5em, rgba(0,0,0,0.85) 2.5em);
  font-size: 50px;
  text-align: center;

  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#controls_container.show {
  visibility: visible;
}

.controls {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 0.2em; */
}

#temp_controls {
  --color: rgba(50,255,50,1);
  --color_faded: rgba(50,255,50,.5);
  --opacity_factor: .7;
  --opacity_factor_less: .9;
  width: 50%;
}

#hum_controls {
  --color: rgba(255,50,200,1);
  --color_faded: rgba(255,50,200,.5);
  --opacity_factor: 1;
  --opacity_factor_less: 1;
  width: 50%;
}

.button_container {
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  row-gap: 0.2em;
  padding-bottom: 0.2em;
}

.button {
  /* display:inline-block; */
  border-width: 0.15em;
  border-radius: .5em;
  border-color: var(--color);
  border-style: solid;
  padding: 0.6em;
  box-shadow:
    inset 0 0 .5em .05em var(--color_faded),
          0 0 .5em .05em var(--color_faded);
}

.button:active {
  background-color: var(--color_faded);
  box-shadow: 0 0 .5em .05em var(--color);
}

/* up arrow */
.button.up::after {
  display:block;
  content:'';
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;

  border-bottom: 1em solid var(--color);
}

/* down arrow */
.button.down::after {
  display:block;
  content:'';
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;

  border-top: 1em solid var(--color);
}

.current {
  color: var(--color);
  width:2.5em;
}

#temp_controls .current {
  order:1; /* to appear on the inside/right of the buttons, for symmetry */
}

.current_setting {
  font-family: 'OdysseyGrad';
  font-size: 2em;
}

.current .units {
  color: var(--color);
  opacity: calc(.9 * var(--opacity_factor));
  font-family: 'AdvancedDot';
  font-size: .8em;
  transform: translateX(.22rem); /* to compensate for font weirdness of AdvancedDot font */
}

.controls .label {
  background-color: rgba(0,0,0,.2);
  color: var(--color);
  opacity: .7;/* calc(.7 * var(--opacity_factor_less));*/
  position: absolute;
  font-family: 'Twobit';
  font-size: 1.5em;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: right;
}

/* .controls#temp_controls .label {
  vertical-align: middle;
  text-align: right;
}

.controls#hum_controls .label {
  vertical-align: middle;
  text-align: right;
} */

#onoff_switch {
  --color: rgba(50,255,50,1);
  --color_faded: rgba(50,255,50,.5);
  --bg_color_on: rgba(255,50,200,.5);

  display: block;
  position:absolute;
  top: .5em;
  transform: translateX(-50%);
}

.switch_outer {
  --padding: .1em;
  --height: 1.2em;
  --width: calc(var(--height) * 2.5);
  --paddingLeft: calc(var(--width) - var(--height) + var(--padding)); /* when switch is on */
  height: var(--height);
  width: var(--width);
  padding: var(--padding);
  border-radius: var(--height);
}

.switch_inner {
  opacity: .75;
  height: var(--height);
  width: var(--height);
  background-color: var(--color);
  border-radius: var(--height);

}

/* switching OFF */
#onoff_switch .switch_outer {
  animation-duration: .3s;
  animation-name: switch_off;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

/* switching ON */
#onoff_switch.on .switch_outer {
  /* background-color: rgba(255,50,200,.5); */
  /* padding-left: var(--paddingLeft);
  width: calc(var(--width) - var(--paddingLeft) + var(--padding)); */

  animation-duration: .3s;
  animation-name: switch_on;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}


@keyframes switch_on {
  from {
    padding-left: var(--padding);
    width: var(--width);
  }

  to {
    padding-left: var(--paddingLeft);
    width: calc(var(--width) - var(--paddingLeft) + var(--padding));
    background-color: var(--bg_color_on);
  }
}

@keyframes switch_off {
  to {
    padding-left: var(--padding);
    width: var(--width);
  }

  from {
    padding-left: var(--paddingLeft);
    width: calc(var(--width) - var(--paddingLeft) + var(--padding));
    background-color: var(--bg_color_on);
  }
}
