body {
  margin: 0px;
  background-color: black;
  cursor: none;
  user-select: none;
  --maincolor: rgba(50,255,50,1);
  --maincolor_faded: rgba(50,255,50,.5);
  --secondarycolor: rgba(255,50,200,1);
  --secondarycolor_faded: rgba(255,50,200,.6);
}

#root {
  /* border: 1px dashed gray; */
}

canvas {
  /* border: 1px dotted cyan; */
}

#canvas_container {
  /* border: 1px solid red; */
  display:grid;
  gap: 0px;
  grid-template-areas: "leftY   graph   rightY"
                       ".       xLabels .     ";
}

#graph {
  grid-area: graph;
}

#temp_labels {
  grid-area: leftY;
}

#hum_labels {
  grid-area: rightY;
}

#time_labels {
  grid-area: xLabels;
}

#overlay {
  position:absolute;
  left:0;
  top:0;
}

/* ========= CURRENT VALUES ========== */

#current_values {
  position: absolute;
  /* border-style: solid; */
  overflow:hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  /* text-shadow:0 0 40px black,
              0 0 40px black,
              0 0 40px black,
              0 0 25px black,
              0 0 25px black,
              0 0 25px black,
              0 0 15px black; */

  text-shadow:0 0 30px black,
              0 0 30px black,
              0 0 30px black,
              0 0 15px black,
              0 0 15px black,
              0 0 15px black,
              0 0 15px black,
              0 0 10px black,
              0 0 10px black;
}

/* #current_values > div {
  height: 100px;
  background-color: #ff000055;
} */

#current_values .indoor {
  --fontSize: calc(var(--mainfontsize) * 2.5);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 10px 0; */
  font-family: 'AdvancedDot';
  font-size: var(--fontSize);
}

#current_values .indoor > div {
  --margin: 10px;
  box-sizing: border-box;
  padding-top: .3em;
  margin: var(--margin);
}

#current_values .indoor .temp {
  color: var(--maincolor);
}

#current_values .indoor .hum {
  --hummargin: 0px;
  margin-left: var(--hummargin);
  margin-right: var(--hummargin);
  color: var(--secondarycolor);
  width: calc(50% - var(--hummargin) * 2);
  text-align: right;
}

#current_values .indoor .hum .units_small {
  font-size:.5em;
  position: relative;
  bottom: .4em;
}

#current_values .indoor .temp.mainunits {
  width: calc(50% - var(--margin) * 2);
  text-align: left;
}

#current_values .indoor .temp.altunits {
  width:50%;
  text-align: left;
  font-size: calc(var(--fontSize) * .7);
  margin-top: -.4em;
}



/* ========= OUTDOOR/WEATHER VALUES ========== */



#current_values .outdoor {
  --fontSize: calc(var(--mainfontsize) * 2.5);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 10px 0; */
  font-family: 'Twobit';
  font-size: var(--fontSize);
  visibility: visible;
  opacity: 0.8;
}

#current_values .outdoor > div {
  --margin: 0.2em;
  box-sizing: border-box;
  /* padding-top: .3em; */
  margin-left: var(--margin);
  margin-right: var(--margin);
  --icon_size: 1em;
}

.weather_icon {
  width: calc(var(--icon_size));/* * 1.3);*/
  height: var(--icon_size);
}

.weather_icon::before {
  content: '';
  display:block;
  background-color: var(--bg_color);

  mask-image: url("images/cloud-icon.png");
  mask-repeat: no-repeat; 
  mask-position-x: center;

  mask-size: var(--icon_size);
  mask-position-y: calc(var(--icon_size)/10);
  width: calc(var(--icon_size));/* * 1.3);*/
  height: var(--icon_size);

}

#current_values .weather_icon {
  filter: drop-shadow(0 0 6px black)
          drop-shadow(0 0 5px black)
          drop-shadow(0 0 5px rgba(0,0,0,0.5))
          drop-shadow(0 0 3px black);
}

#current_values .outdoor > .temp {
  color: var(--maincolor);
  width: calc(50% - var(--margin) * 2);
  display:flex;
  column-gap: 0.1em;
  justify-content: left;
  align-items:end;
  visibility: hidden;
}
#current_values .outdoor > .temp .weather_icon {
  --bg_color: var(--maincolor);
  /* order:2; */
}
#current_values .outdoor .temp .temp {
  font-size: 1em;
  margin-right: -.2em;
  /* order:1; */
}
#current_values .outdoor .temp .time_since_current {
  font-family: "WarGames";
  font-size: 0.7em;
  margin-bottom: -.1em;
  /* order:3; */
  text-shadow:0 0 25px black,
              0 0 25px black,
              0 0 15px black,
              0 0 15px black,
              0 0 15px black;

}

#current_values .outdoor > .hum {
  /* --hummargin: 0px;
  margin-left: var(--hummargin);
  margin-right: var(--hummargin); */
  color: var(--secondarycolor);
  width: calc(50% - var(--margin) * 2);
  display:flex;
  column-gap: 0.2em;
  justify-content: right;
  align-items:end;
  visibility: hidden;
}
#current_values .outdoor > .hum .weather_icon {
  --bg_color: var(--secondarycolor);
  /* order:1; */
}
#current_values .outdoor .hum .hum {
  font-size: 1em;
  /* order:2; */
}







/* ========= CONTROL SCREEN ========== */

#controls_container {
  background: linear-gradient(180deg, rgba(0,0,0,.5) 1.5em, rgba(0,0,0,0.85) 2.5em);
}

.controls .label {
  position: absolute; 
}

#temp_controls,
#temp_controls .button {
  --color:var(--maincolor);
  --color_faded: var(--maincolor_faded);
  --opacity_factor: .7;
  --opacity_factor_less: .9;
}
#temp_controls {
  width: 50%;
}

#hum_controls,
#hum_controls .button {
  --color: var(--secondarycolor);
  --color_faded: var(--secondarycolor_faded);
  --opacity_factor: 1;
  --opacity_factor_less: 1;
}
#hum_controls {
  width: 50%;
}

.weather_checkbox {
  display: flex;
  column-gap: .25em;
  align-items: center;
  justify-content: left;
  width: 100%;
  order: 2; /* to appear below the buttons and threshold values */
  color: var(--color);
  font-size: 1em;
  font-family: 'Twobit';
  text-transform: uppercase;
  /* gap: 0.2em; */
  margin-right: 0.2em;
  margin-left: 0.2em;
}
#hum_controls .weather_checkbox {
  justify-content: right;
}

.weather_checkbox .weather_icon {
  --icon_size: 1.5em;
  --bg_color: var(--color);
  filter: drop-shadow(0 0 10px var(--color))
          drop-shadow(0 0 5px var(--color_faded));
}

input {
  appearance: none;
  position: relative;
  font-size: 1em;
  padding: 0.5em !important;
  background-color: rgba(0,0,0,.5);
  border-radius: 0.35em !important;
  margin:0px;
}

input:checked::before {
  --margin: 0.1em;
  content: '';
  /* content: '\2713'; */
  /* font-family: Helvetica, sans-serif;
  font-weight: bold; */
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: var(--color);
  width: calc(100% - 2 * var(--margin));
  height: calc(100% - 2 * var(--margin));
  margin: var(--margin);
  border-radius: 0.17em;
}

input.value.temp::after {
  content: '°';
  font-size: 1.5em;
  margin-top: .175em;
}

input.value.hum::after {
  content: '%';
  font-family: 'Twobit';
  font-size: 1em;
  margin-top: -.03em;
  margin-left: .03em;
}

input.graph::after {
  --shadow-color: var(--color);
  content: 'ᛋ';
  opacity: 0.6;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scaleX(-100%) skewX(20deg) skewY(-10deg);
  text-shadow: .015em .025em 0 var(--shadow-color);
  margin-top: -.15em;
  margin-left: .05em;
  line-height: 0px;
  font-weight: bolder;
}

input.value::after {
  opacity: 0.6;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  line-height: 0px;
}

input:checked::after {
  color: black;
  --shadow-color: black;
}

#temp_controls .current {
  order:1; /* to appear on the inside/right of the buttons, for symmetry */
}

#show_weather_controls {
  --color: rgba(100,100,255,1);
  --color_faded: rgba(100,100,255,0.5);
  color: var(--color);
  display: none;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.2em;
}

#show_weather_controls .button {
  --color: rgba(100,100,255,1);
  --color_faded: rgba(100,100,255,0.7);
}

#show_weather_controls label {
  font-family: 'WarGames';
  font-size: var(--mainfontsize);
}

/* .current_setting {
  font-family: 'OdysseyGrad';
  font-size: 2em;
} */

/* .current .units {
  color: var(--color);
  opacity: calc(.9 * var(--opacity_factor));
  font-family: 'AdvancedDot';
  font-size: .8em;
  transform: translateX(.22rem); /* to compensate for font weirdness of AdvancedDot font */
/* } */

/* .controls .label {
  background-color: rgba(0,0,0,.2);
  color: var(--color);
  opacity: .7;/* calc(.7 * var(--opacity_factor_less));*/
/*  position: absolute;
  font-family: 'Twobit';
  font-size: 1.5em;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: right;
} */

/* .controls#temp_controls .label {
  vertical-align: middle;
  text-align: right;
}

.controls#hum_controls .label {
  vertical-align: middle;
  text-align: right;
} */

#onoff_switch {
  --color: var(--maincolor);
  --color_faded: var(--maincolor_faded);
  --bg_color_on: var(--secondarycolor_faded);
}