body {
  margin: 0px;
  background-color: black;
  cursor: none;
  user-select: none;
}

#root {
  /* border: 1px dashed gray; */
}

canvas {
  /* border: 1px dotted cyan; */
}

#canvas_container {
  /* border: 1px solid red; */
  display:grid;
  gap: 0px;
  grid-template-areas: "leftY   graph   rightY"
                       ".       xLabels .     ";
}

#graph {
  grid-area: graph;
}

#temp_labels {
  grid-area: leftY;
}

#hum_labels {
  grid-area: rightY;
}

#time_labels {
  grid-area: xLabels;
}

#overlay {
  position:absolute;
  left:0;
  top:0;
}

/* ========= CONTROL SCREEN ========== */

#controls_container {
  background: linear-gradient(180deg, rgba(0,0,0,.5) 1.5em, rgba(0,0,0,0.85) 2.5em);
}

#temp_controls {
  --color: rgba(50,255,50,1);
  --color_faded: rgba(50,255,50,.5);
  --opacity_factor: .7;
  --opacity_factor_less: .9;
  width: 50%;
}

#hum_controls {
  --color: rgba(255,50,200,1);
  --color_faded: rgba(255,50,200,.5);
  --opacity_factor: 1;
  --opacity_factor_less: 1;
  width: 50%;
}

#temp_controls .current {
  order:1; /* to appear on the inside/right of the buttons, for symmetry */
}

/* .current_setting {
  font-family: 'OdysseyGrad';
  font-size: 2em;
} */

/* .current .units {
  color: var(--color);
  opacity: calc(.9 * var(--opacity_factor));
  font-family: 'AdvancedDot';
  font-size: .8em;
  transform: translateX(.22rem); /* to compensate for font weirdness of AdvancedDot font */
/* } */

/* .controls .label {
  background-color: rgba(0,0,0,.2);
  color: var(--color);
  opacity: .7;/* calc(.7 * var(--opacity_factor_less));*/
/*  position: absolute;
  font-family: 'Twobit';
  font-size: 1.5em;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: right;
} */

/* .controls#temp_controls .label {
  vertical-align: middle;
  text-align: right;
}

.controls#hum_controls .label {
  vertical-align: middle;
  text-align: right;
} */

#onoff_switch {
  --color: rgba(50,255,50,1);
  --color_faded: rgba(50,255,50,.5);
  --bg_color_on: rgba(255,50,200,.5);
}